<div class="container-fluid footer">
  <div class="navbar navbar-inverse">
    <div class="navbar-inner">
      <ul class="nav">
        <li><a href="#">Privacy</a></li>
        <li><a href="#">Cookies</a></li>
        <li><a href="#">Terms of Service</a></li>
      </ul>
      <div class="pull-right">
        <%= link_to root_path, class: "brand" do %>
          &copy; 2013, David Workman
        <% end %>
      </div>
    </div>
  </div>
</div>