<div class="navbar navbar-inverse header">
  <div class="navbar-inner">
    <%= link_to "Hamsters Online", root_path, class: "brand" %>
    <ul class="nav">
      <li><%= link_to "Clubs", "#" %></li>
      <li><%= link_to "Shows", "#" %></li>
    </ul>
    <ul class="pull-right nav">
      <li><%= link_to "Login", new_user_session_path %></li>
    </ul>
  </div>
</div>